TechWeb/Connected Services/TechService/Techno_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Techno_service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50012/Techno_service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50012/Techno_service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50012/Techno_service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Techno_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITechno_service_UserRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_UserRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_userinfor_Retrieval_InputMessage">
    <wsdl:part name="parameters" element="tns:userinfor_Retrieval" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_userinfor_Retrieval_OutputMessage">
    <wsdl:part name="parameters" element="tns:userinfor_RetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_userinfor_Retrieval_Email_InputMessage">
    <wsdl:part name="parameters" element="tns:userinfor_Retrieval_Email" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_userinfor_Retrieval_Email_OutputMessage">
    <wsdl:part name="parameters" element="tns:userinfor_Retrieval_EmailResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_resetPass_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPass" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_resetPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPassResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_updateuser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateuser" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_updateuser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateuserResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_search_by_cat_InputMessage">
    <wsdl:part name="parameters" element="tns:search_by_cat" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_search_by_cat_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_by_catResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_search_by_price_InputMessage">
    <wsdl:part name="parameters" element="tns:search_by_price" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_search_by_price_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_by_priceResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_productinfor_retrieval_InputMessage">
    <wsdl:part name="parameters" element="tns:productinfor_retrieval" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_productinfor_retrieval_OutputMessage">
    <wsdl:part name="parameters" element="tns:productinfor_retrievalResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_price_by_ASC_InputMessage">
    <wsdl:part name="parameters" element="tns:price_by_ASC" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_price_by_ASC_OutputMessage">
    <wsdl:part name="parameters" element="tns:price_by_ASCResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_price_by_DESC_InputMessage">
    <wsdl:part name="parameters" element="tns:price_by_DESC" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_price_by_DESC_OutputMessage">
    <wsdl:part name="parameters" element="tns:price_by_DESCResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_allProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:allProducts" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_allProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:allProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_Add_to_Cart_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_to_Cart" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_Add_to_Cart_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_to_CartResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_productinfor_InputMessage">
    <wsdl:part name="parameters" element="tns:productinfor" />
  </wsdl:message>
  <wsdl:message name="ITechno_service_productinfor_OutputMessage">
    <wsdl:part name="parameters" element="tns:productinforResponse" />
  </wsdl:message>
  <wsdl:portType name="ITechno_service">
    <wsdl:operation name="UserRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/UserRegister" message="tns:ITechno_service_UserRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/UserRegisterResponse" message="tns:ITechno_service_UserRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/Login" message="tns:ITechno_service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/LoginResponse" message="tns:ITechno_service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userinfor_Retrieval">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/userinfor_Retrieval" message="tns:ITechno_service_userinfor_Retrieval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/userinfor_RetrievalResponse" message="tns:ITechno_service_userinfor_Retrieval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userinfor_Retrieval_Email">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/userinfor_Retrieval_Email" message="tns:ITechno_service_userinfor_Retrieval_Email_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/userinfor_Retrieval_EmailResponse" message="tns:ITechno_service_userinfor_Retrieval_Email_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/resetPass" message="tns:ITechno_service_resetPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/resetPassResponse" message="tns:ITechno_service_resetPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateuser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/updateuser" message="tns:ITechno_service_updateuser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/updateuserResponse" message="tns:ITechno_service_updateuser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_by_cat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/search_by_cat" message="tns:ITechno_service_search_by_cat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/search_by_catResponse" message="tns:ITechno_service_search_by_cat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_by_price">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/search_by_price" message="tns:ITechno_service_search_by_price_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/search_by_priceResponse" message="tns:ITechno_service_search_by_price_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productinfor_retrieval">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/productinfor_retrieval" message="tns:ITechno_service_productinfor_retrieval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/productinfor_retrievalResponse" message="tns:ITechno_service_productinfor_retrieval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="price_by_ASC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/price_by_ASC" message="tns:ITechno_service_price_by_ASC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/price_by_ASCResponse" message="tns:ITechno_service_price_by_ASC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="price_by_DESC">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/price_by_DESC" message="tns:ITechno_service_price_by_DESC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/price_by_DESCResponse" message="tns:ITechno_service_price_by_DESC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/allProducts" message="tns:ITechno_service_allProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/allProductsResponse" message="tns:ITechno_service_allProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_to_Cart">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/Add_to_Cart" message="tns:ITechno_service_Add_to_Cart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/Add_to_CartResponse" message="tns:ITechno_service_Add_to_Cart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/AddProduct" message="tns:ITechno_service_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/AddProductResponse" message="tns:ITechno_service_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/EditProduct" message="tns:ITechno_service_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/EditProductResponse" message="tns:ITechno_service_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="productinfor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITechno_service/productinfor" message="tns:ITechno_service_productinfor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITechno_service/productinforResponse" message="tns:ITechno_service_productinfor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITechno_service" type="tns:ITechno_service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userinfor_Retrieval">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/userinfor_Retrieval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userinfor_Retrieval_Email">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/userinfor_Retrieval_Email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPass">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/resetPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateuser">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/updateuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_by_cat">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/search_by_cat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_by_price">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/search_by_price" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productinfor_retrieval">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/productinfor_retrieval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="price_by_ASC">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/price_by_ASC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="price_by_DESC">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/price_by_DESC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allProducts">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/allProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_to_Cart">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/Add_to_Cart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="productinfor">
      <soap:operation soapAction="http://tempuri.org/ITechno_service/productinfor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Techno_service">
    <wsdl:port name="BasicHttpBinding_ITechno_service" binding="tns:BasicHttpBinding_ITechno_service">
      <soap:address location="http://localhost:50012/Techno_service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>