FinalWeb/Connected Services/TechService/Techno_service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50012/Techno_service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Techno_Service" />
  <xs:element name="UserRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userinfor_Retrieval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userinfor_RetrievalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="userinfor_RetrievalResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userinfor_Retrieval_Email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userinfor_Retrieval_EmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="userinfor_Retrieval_EmailResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetPassResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateuser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="user" nillable="true" type="q4:User" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateuserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateuserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_by_cat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_by_catResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="search_by_catResult" nillable="true" type="q5:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_by_price">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Low" type="xs:decimal" />
        <xs:element minOccurs="0" name="high" type="xs:decimal" />
        <xs:element minOccurs="0" name="cat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_by_priceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="search_by_priceResult" nillable="true" type="q6:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinfor_retrieval_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinfor_retrieval_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="productinfor_retrieval_IDResult" nillable="true" type="q7:ProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinfor_retrieval_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinfor_retrieval_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="productinfor_retrieval_NameResult" nillable="true" type="q8:ProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="price_by_ASC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="price_by_ASCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="price_by_ASCResult" nillable="true" type="q9:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="price_by_DESC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="price_by_DESCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="price_by_DESCResult" nillable="true" type="q10:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="allProductsResult" nillable="true" type="q11:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RangePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RangePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="RangePriceResult" nillable="true" type="q12:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltCatPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FiltCatPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="FiltCatPriceResult" nillable="true" type="q13:ArrayOfProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_to_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="product" nillable="true" type="q14:ProductD" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="Qty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_to_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_to_CartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getUser_CartResult" nillable="true" type="q15:ArrayOfCartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="trans" nillable="true" type="q16:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="trans" nillable="true" type="q17:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="trans" nillable="true" type="q18:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="trans" nillable="true" type="q19:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="myWallet" nillable="true" type="q20:WalletClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToWalletResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserWallet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserWalletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getUserWalletResult" nillable="true" type="q21:ArrayOfWalletClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getInvoiceResult" nillable="true" type="q22:ArrayOftransactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getOrderResult" nillable="true" type="q23:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpayement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpayementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getpayementResult" nillable="true" type="q24:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelivertDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Companyname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelivertDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="getDelivertDetailsResult" nillable="true" type="q25:transactionClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="increaseQue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="increaseQueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="increaseQueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="addP" nillable="true" type="q26:ProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="pr" nillable="true" type="q27:ProductD" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productinforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Techno_Service" minOccurs="0" name="productinforResult" nillable="true" type="q28:ProductD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSalesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>