FinalWeb/Connected Services/TechService/Techno_service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Techno_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Techno_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50012/Techno_service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="active" type="ser:char" />
      <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfProductD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductD" nillable="true" type="tns:ProductD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductD" nillable="true" type="tns:ArrayOfProductD" />
  <xs:complexType name="ProductD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="active" type="ser:char" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="image_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manufacture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductD" nillable="true" type="tns:ProductD" />
  <xs:complexType name="ArrayOfCartClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartClass" nillable="true" type="tns:CartClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartClass" nillable="true" type="tns:ArrayOfCartClass" />
  <xs:complexType name="CartClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartId" type="xs:int" />
      <xs:element minOccurs="0" name="Qty" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="image_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit" type="xs:double" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartClass" nillable="true" type="tns:CartClass" />
  <xs:complexType name="transactionClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryID" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Payementtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayemntStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentId" type="xs:int" />
      <xs:element minOccurs="0" name="ProId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ShipDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="clientId" type="xs:int" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="tax" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="transactionClass" nillable="true" type="tns:transactionClass" />
  <xs:complexType name="ArrayOftransactionClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transactionClass" nillable="true" type="tns:transactionClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransactionClass" nillable="true" type="tns:ArrayOftransactionClass" />
</xs:schema>